

ip access-list extended GuestRedirect
 1 deny   ip any host {{ ise_server1 }}
 2 deny   ip host {{ ise_server1 }} any
 3 deny   ip host {{ ise_server2 }} any
 4 deny   ip any host {{ ise_server2 }}
 5 deny   udp any eq domain any
 6 deny   udp any any eq domain
 7 permit ip any any

ip access-list extended Internet
 1 permit ip any any
