

!#
!#  AP JOIN PROFILE AND AP JOIN TAG ###


ap profile {{ location_abbr }}-AP-JOIN-PR
 description "{{ location_abbr }} AP Settings"
 mgmtuser username apadmin password 8 <insert ap admin password here>
 qos-map trust-dscp-upstream
 ssh
 syslog host {{ sw_server }}
 syslog level errors


!# ADD TO SITE TAG CREATED FOR AP JOIN PROFILE
!#

wireless tag site {{ location_abbr }}-SITE-TAG
 ap-profile {{ location_abbr }}-AP-JOIN-PR
 description "{{ location_abbr }} site tag"
