! ##
! ### AP JOIN PROFILE AND AP JOIN TAG ###

! Don't need this part, don't paste in new wlc's
!no key config-key password-encrypt N3wm0nt1



ap profile {{ location_abbr }}-AP-JOIN-PR
 description "{{ location_abbr }} AP Settings"
 mgmtuser username apadmin password 8 ]iQ`gGIZGSPNgObPfbFBaV^SRbENDiBHcAAB secret 8 AGhXIG\YZchBFLc_REQB`HPeDYaVXdfTbAAB
 qos-map trust-dscp-upstream
 ssh
 syslog host {{ sw_server }}
 syslog level errors



! ## Add to site tage created for AP Join Profile
!
wireless tag site {{ location_abbr }}-SITE-TAG
 ap-profile {{ location_abbr }}-AP-JOIN-PR
 description "{{ location_abbr }} site tag"
