

! ##
! ### RF PROFILES AND TAG CREATION
! ##

ap dot11 24ghz rf-profile {{ location_abbr }}-24-RF-PR
 rate RATE_11M disable
 rate RATE_12M disable
 rate RATE_18M disable
 rate RATE_1M disable
 rate RATE_24M mandatory
 rate RATE_2M disable
 rate RATE_5_5M disable
 rate RATE_6M disable
 rate RATE_9M disable
 tx-power max 17
 no shutdown

ap dot11 5ghz rf-profile {{ location_abbr }}-5g-RF-PR
 channel add 165
 channel chan-width 20
 rate RATE_12M disable
 rate RATE_18M disable
 rate RATE_24M mandatory
 rate RATE_6M disable
 rate RATE_9M disable
 tx-power max 17
 tx-power min 11
 no shutdown


! ## ADD RF PROFILES TO RF TAG
!
wireless tag rf {{ location_abbr }}-RF-TAG
 24ghz-rf-policy {{ location_abbr }}-24-RF-PR
 5ghz-rf-policy {{ location_abbr }}-5g-RF-PR
