!#  TO LOG INTO THE WEB GUI FOR THE FIRST TIME, SHUTDOWN RADIOS TO SKIP DAY ZERO
!#  WHICH WON'T LET YOU INTO THE GUI

ap country {{ country }}
ap dot11 5ghz shutdown
ap dot11 24ghz shutdown


hostname {{ wlc_name }}

int gi0
ip add {{ oob_ip }} {{ oob_mask }}
exit
ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 {{ oob_gw }}

no ip domain lookup

username {{ admin }} privilege 15 password 0 {{ admin_passw }}

ip domain name {{ domain_name }}
crypto key generate rsa modulus 2048
ip ssh version 2


line con 0
privilege level 15
!login authentication CONSOLE

line vty 0 15
transport input ssh

line vty 16 50
transport input ssh

cdp run

service timestamps debug datetime msec
service timestamps log datetime msec
service tcp-keepalives-in
service tcp-keepalives-out
logging buffered 512000
